[submodule "lib/cdk-appsync-merge-apis"]
	path = lib/cdk-appsync-merge-apis
	url = https://github.com/andrewlohc/cdk-appsync-merge-apis.git
	branch = main
[submodule "lib/cdk-typescript-template"]
	path = lib/cdk-typescript-template
	url = https://github.com/andrewlohc/cdk-typescript-template.git
	branch = main
[submodule "lib/cdk-appsync-aurora-serverless"]
	path = lib/cdk-appsync-aurora-serverless
	url = https://github.com/andrewlohc/cdk-appsync-aurora-serverless.git
	branch = main
[submodule "lib/cdk-lambda-golang"]
	path = lib/cdk-lambda-golang
	url = https://github.com/andrewlohc/cdk-examples.git
[submodule "lib/cdk-lambda-rust"]
	path = lib/cdk-lambda-rust
	url = https://github.com/andrewlohc/cdk-examples.git
